<html>
   <body>
      <h3>Upload file</h3>
      <form action = "http://{{ rest_host }}:{{ rest_port }}/storage" method = "POST" enctype = "multipart/form-data">
         <input type = "file" name = "file" />
         <input type = "submit"/>
      </form>
      <br><br>
      <hr>
      <h3>Download file</h3>
      <form id="getform"  action = "http://{{ rest_host }}:{{ rest_port }}/storage" method = "GET" enctype = "multipart/form-data">
         Enter filename:<br>
         <input type="text" name="file_name"> 
      <input id="clickMe" type="submit" />
      </form> 
   </body>
</html>
