<html>
   <body>
      <form action = "http://{{ rest_host }}:{{ rest_port }}/storage" method = "POST" 
         enctype = "multipart/form-data">
         <input type = "file" name = "file" />
         <input type = "submit"/>
      </form>
	  
	   <form id="getform"  action = "http://{{ rest_host }}:{{ rest_port }}/storage" method = "GET" 
         enctype = "multipart/form-data">
		  Enter filename:<br>
		  <input type="text" name="filename"> 
      <input id="clickMe" type="submit" />
    	</form> 

   </body>
</html>
